
<div class="row pricing-container">

    <div class="col-md-2">

      </div>
  <div class="col-md-4">

      <div class="card" style="width: 18rem;" >  
          <div class="card-body">
            <h5 class="card-title">Basic </h5>
            <p class="card-text">This very basic pacakge for developer</p>          
            <ul class="list-group list-group-flush">
              <li class="list-group-item">1 Project</li>
              <li class="list-group-item">100K API Per month</li>      
              <li class="list-group-item"> Community support </li>      
            </ul>
            <a [routerLink]="['/login']" class="btn btn-primary pay-btn">0$</a>
          </div>
      </div>

  </div>

  <div class="col-md-4">
    
      <div class="card" style="width: 18rem;">  
          <div class="card-body">
            <h5 class="card-title">Advance </h5>
            <p class="card-text">This is Advance Package for Business</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">100 Project</li>
              <li class="list-group-item">Unlimited API Per Month</li>
              <li class="list-group-item">24/7 Customer Support</li>
            </ul>          
            <a [routerLink]="['/login']"  class="btn btn-primary pay-btn"> 100$ </a>
          </div>
        </div>

    </div>
    <div class="col-md-2">
    
      </div>
</div>