<div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 middle-container">

        <h3>Highest demanding 10 products in this season</h3>
        <p>You can see the highest demanding products in this season as your favour</p>

        <div class="main-container">
            <div class="title">
                Highest demanding 10 products in this season
            </div>
            <div class="method-container">
                <div class="left">            
                    <div class="btn">
                        GET
                    </div>
                </div>
                <div class="right">
                  <p class="url">https://productapi.com/api/v3/products/tops?apikey=HD7H5HOCN73HDK3J49</p>
                </div>
            </div>
          <div class="scroll-container">
              <ngx-json-viewer [json]="apiObj"></ngx-json-viewer>      
          </div>  
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
</div>
